/* Prenav */

.prenav {
  background-color: #16A085;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 10px;
  gap: 30px;
}

.prenav_main {
  color: white;
  font-size: 14px;
  transition: color ease-in-out 0.3s;
  cursor: pointer;
}

.prenav_main:hover {
  color: #f6b60b;
}

.prenav_social {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 20px;
}

.prenav_social a {
  transition: color ease-in-out 0.3s;
  color: white;
}

.prenav_social a:hover {
  color: #f6b60b;
}

/* Navbar */

.navbar {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
  color: black;
  padding-left: 140px;
  padding-right: 140px;
}

.navbarlogo {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  margin-left: 1rem;
}

.navbaricon {
  border: 0;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}

.navbarmenu {
  margin-left: auto;
}

.navbarmenu ul {
  display: flex;
  padding: 0;
}

.navbarmenu li {
  list-style-type: none;
  margin: 0 1rem;
}

.navbarmenu li a {
  text-decoration: none;
  display: block;
  width: 100%;
  transition: color ease-in-out 0.3s;
}

.navbarmenu li a:hover {
  color: #f6b60b;
}

@media screen and (max-width: 1000px) {
  .navbaricon {
    display: block;
  }

  .navbar {
    padding-left: 10px;
  }

  .navbarmenu ul {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: 310px;
    background-color: white;
  }

  .navbarmenu li {
    text-align: center;
    margin-right: 1;
    margin-left: 1;
    transition: background-color ease-in 0.2s;
    border-radius: 1cm;
  }

  .navbarmenu li a {
    color: black;
    width: 100%;
    padding: 0.75rem 0;
  }

  .navbarmenu li:hover {
    background-color: #16A085;
  }

  .navbarmenu.extend ul {
    display: block;
  }

}

/* Carousel */

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.carouseltitle {
  font: 400 30px "Roboto", sans-serif;
}

.carouselbutton {
  background-color: #f6b60b;
  height: 60px;
  width: 185px;
  transition: background-color ease-in-out 0.3s;
}

.carouselbutton b {
  color: black;
  font-size: large;
}

.carouselbutton:hover {
  background-color: white;
}
 
/* About Us */


.aboutusbody {
  display: flex;
  flex-direction: row;
}

.aboutusmain {
  flex: 55%
}

.aboutusshort {
  flex: 35%;
  margin-left: 3rem;
}

.aboutuslicencee {
  margin-top: 40px;
  margin-bottom: 40px;
}

/* What we offer page */

.offer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.miracard {

}

/* Contact Page */

.contactus {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* FAQ */

.FAQheader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.FAQ {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction:row;
}

.FAQimg {
  flex-direction:column;
  flex: 50%;
  margin-top: 20px;
}

.FAQtext {
  flex: 70%;
  display: flex;
  flex-direction: column;
  font: 400 14px/26px "Roboto", sans-serif;
  color: #555555;
}

/* Licence */

.licence {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Footer */

.footer {

}

.prefooter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainfooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footerbuttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
}

.footerpretitle {
  font: 700 18px "Roboto", sans-serif;
  color: #222222;
}

.footerpretext {
  font: 400 14px/26px "Roboto", sans-serif;
  color: #555555;
}

.footerprebutton {
  background-color: black;
  height: 60px;
  width: 185px;
  transition: background-color ease-in-out 0.3s;
}

.footerprebutton:hover {
  background-color: #f6b60b;
}

.footerprebutton b {
  color: white;
  font-size: large;
  font: 700 18px/59px "Roboto", sans-serif;
}

/* global styles */

.globalSubheaderTitle {
  font: 400 24px "Oswald", sans-serif;
}

.globalSubheader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 90px;
  margin-bottom: 90px;
}